@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
.choice{
    display: flex;
    justify-content: space-evenly;
}
.choice button{
    width: 100%;
    margin: 1%;
    padding: 1% 0%;
}
#active{
    background-color: #15929D;
    font-weight: bold;
}